input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.topLang {
    background: #e7e7e7;
}

input[type="number"] {
    -moz-appearance: textfield;
}

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Arial';
}

.close-btn-static {
    position: absolute;
    right: 8px;
    top: 8px;
    cursor: pointer;
}

li {
    list-style: none;
}

a:hover {
    text-decoration: none !important;
}

.clearfix:after {
    content: "";
    display: block;
    clear: both;
}

input,
button,
textarea {
    outline: none !important;
}

input:focus,
textarea:focus {
    box-shadow: none !important;
}

@media(max-width: 991px) {
    .table-overflow {
        overflow: auto;
    }
}

@media (max-width: 991px) {
    .max-tc {
        max-height: 440px;
        margin-top: 50px;
        overflow: auto;
    }
}

.btc-font {
    font-size: 20px;
    font-weight: bold;
    color: #1cc7ff;
}

.form-code>span {
    display: inline-block;
    width: 50%;
    height: 38px;
    line-height: 38px;
    text-align: center;
    font-size: 14px;
    cursor: pointer;
    border-radius: 4px;
}

.form-code>.recaptcha-checked {
    color: white;
    background-color: #fbad4c;
}

.form-code span {
    color: #999999;
    background-color: #e8e8e8;
}

.bgwhite {
    background-color: white;
    -webkit-box-shadow: 0px 0px 5px #e0e0e0;
    box-shadow: 0px 0px 5px #e0e0e0;
}

.close-btn {
    position: absolute;
    right: 8px;
    top: 8px;
    cursor: pointer;
}

a {
    text-decoration: none;
    cursor: pointer;
}

.btn {
    border-radius: 0px;
}

.btn-info {
    background-color: #1cc7ff;
    border-color: #1cc7ff;
}

.btn-warning {
    background-color: #ff7608;
    border-color: #ff7608;
}

.btn-biu {
    box-shadow: 0 0 0 rgba(255, 255, 255, 0.4);
    animation: pulse 2s infinite;
}

/*按钮特效*/

@keyframes pulse {
    0% {
        -moz-box-shadow: 0 0 0 0 rgba(255, 255, 255, .4);
        box-shadow: 0 0 0 0 rgba(255, 255, 255, .4);
    }
    70% {
        -moz-box-shadow: 0 0 0 10px transparent;
        box-shadow: 0 0 0 10px transparent;
    }
    100% {
        -moz-box-shadow: 0 0 0 0 transparent;
        box-shadow: 0 0 0 0 transparent;
    }
}

.jzy-btn {
    display: inline-block;
    text-align: center;
    color: white;
    border: none;
    cursor: pointer;
    height: 40px;
    width: 100%;
    font-size: 20px;
    border-radius: 19px;
}

.btn-whitebg {
    border-radius: 6px;
    background: white;
    color: black;
}

.submit-color {
    background-color: #ffb931;
}

.blue-color {
    background-color: #00a0e9;
}

p {
    text-align: center;
    margin: 0px;
    /* word-break:break-all; */
}

p>a {
    color: #0082e7;
}

span>a {
    color: #ff7f18;
}

.circle {
    display: inline-block;
    width: 23px;
    height: 23px;
    line-height: 23px;
    text-align: center;
    color: white;
    border-radius: 50%;
    font-weight: bold;
    border: 1px solid white;
}

/*蒙层*/

.tc-cover {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#66000000, endColorstr=#66000000);
    background: none\0;
    z-index: 4000;
}

/*四周都是固定absolute*/

.tc-around {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

/*居中*/

.auto-auto {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

/*浮动2个*/

.f-left {
    float: left;
}

.f-right {
    float: right;
}

/*767px以下隐藏*/

@media (max-width: 767px) {
    .hidden-phone {
        display: none !important;
    }
}

/*ipad隐藏*/

@media (min-width: 768px) and (max-width: 1080px) {
    .hidden-pad {
        display: none !important;
    }
}

/*1080居中*/

.div-1080 {
    width: 1080px;
    margin: auto;
}

/*checkbox样式*/

/*隐藏掉我们模型的checkbox*/

/*
	<input type="checkbox" id="checkbox-1-1" class="regular-checkbox" /><label for="checkbox-1-1"></label><span class="agree-info"></span>

*/

label {
    display: inline;
}

.regular-checkbox {
    display: none;
}

.regular-checkbox+label {
    background-color: white;
    border: 1px solid #0099f1;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
    padding: 7px;
    border-radius: 3px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    margin-right: 10px;
    cursor: pointer;
}

.regular-checkbox+label:active,
.regular-checkbox:checked+label:active {
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px 1px 3px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px 1px 3px rgba(0, 0, 0, 0.1);
}

.regular-checkbox:checked+label {
    background-color: #0099f1;
    border: 1px solid #0099f1;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -12px 10px -12px rgba(0, 0, 0, 0.05), inset 12px 10px -12px rgba(255, 255, 255, 0.1);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -12px 10px -12px rgba(0, 0, 0, 0.05), inset 12px 10px -12px rgba(255, 255, 255, 0.1);
    color: #99a1a7;
}

.regular-checkbox:checked+label:after {
    content: '\2714';
    font-size: 12px;
    position: absolute;
    top: -1px;
    left: 2px;
    color: #ffffff;
}

.agree-info {
    font-size: 12px;
}

label+span>a {
    color: #0099f1;
}

/*超出2行...代替*/

.text-overflow {
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

/*正方形*/

.square {
    padding-bottom: 100%;
    overflow: hidden;
    height: 0px;
}

/*强制换行*/

.word-break {
    word-break: break-all;
    /* 支持IE和chrome，FF不支持*/
    word-wrap: break-word;
    /* 以上三个浏览器均支持 */
}

/*加减框*/

span.spin-text {
    display: inline-block;
    overflow: hidden;
    width: 100%;
}

span.spin-text .spin-val {
    border: 2px solid #333;
    vertical-align: middle;
    width: 44%;
    height: 30px;
    text-align: center;
    box-sizing: border-box;
}

span.spin-text a {
    display: inline-block;
    width: 28%;
    height: 30px;
    line-height: 30px;
    border: none;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    font-family: 宋体;
    font-size: 33px;
    background: #333;
    color: white;
}

/*   span.spin-text a:first-child{
			border-radius: 10px 0px 0px 10px;
    }
     span.spin-text a:last-child{
    	    border-radius: 0px 10px 10px 0px;
    }*/

/*水平线*/

.hr {
    height: 1px;
    width: 90%;
    margin: auto;
    background-color: #ccc;
}

/*渐变色*/

.five-color-line {
    border-bottom: 2px solid #f0354f;
    border-image: linear-gradient(to right, #f0354f, #ffb931) 30 30;
}

/*渐变色边框*/

.son-box {
    position: relative;
    border-radius: 50%;
}

.son-box:after {
    position: absolute;
    content: '';
    background: linear-gradient(red, yellow);
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    z-index: -1;
    transform: scale(1.05);
    border-radius: 50%;
}

.son-box:before {
    position: absolute;
    content: '';
    background: rgba(255, 255, 255, 0.4);
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    z-index: 1;
    transform: scale(1);
    border-radius: 50%;
}

/*单选按钮样式*/

/*参考
     <div class='radio-check'>
        <input type='radio' name='test' id='test2' />
        <label for='test2' class>橘子</label>
    </div>
    */

.radio-check {
    position: relative;
    height: 35px;
}

.radio-check>input {
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    opacity: 0;
}

.radio-check>label {
    position: absolute;
    left: 30px;
    line-height: 20px;
    top: 0px;
    cursor: pointer;
}

.radio-check>label:before {
    content: '';
    position: absolute;
    left: -30px;
    top: 0px;
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid #ddd;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
}

.radio-check>label:after {
    content: '';
    position: absolute;
    left: -30px;
    top: 0px;
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-top: 6px;
    margin-left: 6px;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
}

.radio-check input[type='radio']:checked+label:before {
    border-color: black;
}

.radio-check input[type='radio']:checked+label:after {
    background: black;
}

/*16px #333*/

.fz-18 {
    font-size: 18px;
    color: #282828;
}

.fz-16 {
    font-size: 16px;
    color: #282828;
}

.fz-danwei {
    font-size: 16px;
    color: #666;
}

.fz-14 {
    font-size: 14px;
    color: #282828;
}

.fz-14-time {
    font-size: 14px;
    color: #666;
}

.fz-number {
    font-family: din;
}

.fz-12 {
    font-size: 12px;
    color: #666;
}

/*alert-info*/

.alert-info {
    display: inline-block;
    text-align: center;
    max-width: 99%;
    margin: auto;
    text-align: center;
    color: white;
    font-size: 14px;
    line-height: 24px;
    padding: 6px 6px;
}

.bg-success {
    background-color: #00be67;
}

/*滚轮样式*/

.scroll-2::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

.scroll-2::-webkit-scrollbar-track {
    background: #f6f6f6;
    border-radius: 2px;
}

.scroll-2::-webkit-scrollbar-thumb {
    background: #aaa;
    border-radius: 2px;
}

.scroll-2::-webkit-scrollbar-thumb:hover {
    background: #747474;
}

.scroll-2::-webkit-scrollbar-corner {
    background: #f6f6f6;
}

@media(max-width: 991px) {
    .hidden-sm {
        display: none;
    }
}

.point-number {
    text-decoration: line-through;
    font-size: 14px;
    color: #999;
}

/* 禁止换行 */

.nowrap {
    white-space: nowrap;
}

/* 只显示一行 */

.one-line {
    overflow: hidden;
    /*超出部分隐藏*/
    white-space: nowrap;
    /*不换行*/
    text-overflow: ellipsis;
    /*超出部分文字以...显示*/
}

@media(max-width:767px) {
    .phone-br {
        display: block;
    }
    .phone-text-align {
        width: 100%;
        text-align: center;
    }
    .phone-middle {
        width: 100%;
        text-align: center;
        margin-top: 14px;
    }
}

/* 滑轮样式 */

.scroll-2 {
    width: 200px;
    height: 200px;
    overflow: auto;
    margin-bottom: 20px;
}

.scroll-2::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

.scroll-2::-webkit-scrollbar-track {
    background: #f6f6f6;
    border-radius: 2px;
}

.scroll-2::-webkit-scrollbar-thumb {
    background: #aaa;
    border-radius: 2px;
}

.scroll-2::-webkit-scrollbar-thumb:hover {
    background: #747474;
}

.scroll-2::-webkit-scrollbar-corner {
    background: #f6f6f6;
}